*.pyc
*~
.DS_Store
.deps
*.o
*.patch

/acinclude.mr
/api-docs
/autom4te.cache
/aclocal.m4
/ChangeLog
/config
/config.*
/configure
Makefile
Makefile.in
/NEWS
/Reinteract.app
/ReinteractWrapper
/stamp-h1
/*.tar.bz2
